<a href="https://colab.research.google.com/github/vieirapcm/ai_bayes_algorithm/blob/main/naive_bayes_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import nltk
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import roc_auc_score, roc_curve, confusion_matrix, precision_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.utils.multiclass import unique_labels

In [ ]:
# reads the dataset
data = pd.read_csv('https://raw.githubusercontent.com/AiDevNepal/ai-saturdays-workshop-8/master/data/spam.csv')

# filter the dataset values that corresponds to "spam" (1) or "not spam" (0)
data['target'] = np.where(data['target'] == 'spam', 1, 0)

In [ ]:
data.head(10)

                                                text  target
0  Go until jurong point, crazy.. Available only ...       0
1                      Ok lar... Joking wif u oni...       0
2  Free entry in 2 a wkly comp to win FA Cup fina...       1
3  U dun say so early hor... U c already then say...       0
4  Nah I don't think he goes to usf, he lives aro...       0
5  FreeMsg Hey there darling it's been 3 week's n...       1
6  Even my brother is not like to speak with me. ...       0
7  As per your request 'Melle Melle (Oru Minnamin...       0
8  WINNER!! As a valued network customer you have...       1
9  Had your mobile 11 months or more? U R entitle...       1

In [ ]:
# dividing the dataset into train and validation (70:30 ratio)
X_train, X_test, Y_train, Y_test = train_test_split(
    data['text'],
    data['target'],
    random_state=0
)

In [ ]:
# extract vectorizer and transform the data to a vectorized array
vectorizer = CountVectorizer(ngram_range=(1,2)).fit(X_train)
X_train_vectorized = vectorizer.transform(X_train)
X_train_vectorized.toarray().shape

(4179, 40704)

In [ ]:
# creates a Naive Bayes model and train it to the dataset
model = MultinomialNB(alpha=0.1)
model.fit(X_train_vectorized, Y_train)

MultinomialNB(alpha=0.1, class_prior=None, fit_prior=True)

In [ ]:
# make a prediction to the model with the testing dataset
predictions = model.predict(vectorizer.transform(X_test))

In [ ]:
# checks the prediction accuracy
print('Accuracy: ', 100 * sum(predictions == Y_test) / len(predictions), '%')

Accuracy:  98.99497487437186 %

In [ ]:
model.predict(vectorizer.transform(
    [
        "Thank you, ABC. Can you also share your LinkedIn profile? As you are a good at programming at pyhthon, would be willing to see your personal/college projects.",
        "Hi y’all, We have a Job Openings in the positions of software engineer, IT officer at ABC Company.Kindly, send us your resume and the cover letter as soon as possible if you think you are an eligible candidate and meet the criteria.",
        "Dear ABC, Congratulations! You have been selected as a SOftware Developer at XYZ Company. We were really happy to see your enthusiasm for this vision and mission. We are impressed with your background and we think you would make an excellent addition to the team.",
    ]
))

array([0, 0, 0])

In [ ]:
model.predict(vectorizer.transform(
    [
        "congratulations, you became today's lucky winner",
        "1-month unlimited calls offer Activate now",
        "Ram wants your phone number",
        "Get a Free ebook"
    ]
))

array([1, 1, 1, 1])